{% extends 'base.html' %}

{% block title %}
CineMatch
{% endblock %}

{% block content %}


{% load static %}

<div class="row">
    <div class="col-sm"></div>
    <div class="col-lg text-center">
            {% if movie %}
                <div class="row m-5">
                    <div class="h1">CineMatch</div>
                </div>
                
                <div class="row">  <!-- meta data -->
                    <div class="col">
                        <div class="row"><a class="h2 text-primary" href="{{ movie.imdb_link }}">{{ movie.title }} ({{ movie.rating }}/{{ movie.ratings }})</a></div>
                        <div class="h4">{{ movie.runtime_f }}</div>
                        <div class="h6">{{ movie.genre }}</div>
                    </div>
                </div>

                <div class="row">
                    {% if poster_url %}
                        <img src="{{ poster_url }}" class="rounded mx-auto d-block" alt="poster">
                    {% else %}
                        <div class="h6 text-danger">Could not fetch poster</div>
                    {% endif %}
                </div>

                <div class="row">
                    {{ movie.description }}
                </div>
                
                <div class="row">  <!-- voting -->
                    <div class="col">
                        <form action="{% url 'cinematch_post' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="secret" value="{{ secret }}">
                            <input type="hidden" name="tennant_id" value="{{ tennant_id }}">
                            <input type="hidden" name="movie_id" value="{{ movie.pk }}">
                            <input type="hidden" name="interest" value="-2">
                            <button class="btn btn-link btn-lg" type="submit">🚫</button>
                        </form>
                    </div>
                    <div class="col">
                        <form action="{% url 'cinematch_post' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="secret" value="{{ secret }}">
                            <input type="hidden" name="tennant_id" value="{{ tennant_id }}">
                            <input type="hidden" name="movie_id" value="{{ movie.pk }}">
                            <input type="hidden" name="interest" value="-1">
                            <button class="btn btn-link btn-lg" type="submit">🤬</button>
                        </form>
                    </div>
                    <div class="col">
                        <form action="{% url 'cinematch_post' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="secret" value="{{ secret }}">
                            <input type="hidden" name="tennant_id" value="{{ tennant_id }}">
                            <input type="hidden" name="movie_id" value="{{ movie.pk }}">
                            <input type="hidden" name="interest" value="0">
                            <button class="btn btn-link btn-lg" type="submit">🤷</button>
                        </form>
                    </div>
                    <div class="col">
                        <form action="{% url 'cinematch_post' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="secret" value="{{ secret }}">
                            <input type="hidden" name="tennant_id" value="{{ tennant_id }}">
                            <input type="hidden" name="movie_id" value="{{ movie.pk }}">
                            <input type="hidden" name="interest" value="1">
                            <button class="btn btn-link btn-lg" type="submit">🆗</button>
                        </form>
                    </div>
                    <div class="col">
                        <form action="{% url 'cinematch_post' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="secret" value="{{ secret }}">
                            <input type="hidden" name="tennant_id" value="{{ tennant_id }}">
                            <input type="hidden" name="movie_id" value="{{ movie.pk }}">
                            <input type="hidden" name="interest" value="2">
                            <button class="btn btn-link btn-lg" type="submit">💯</button>
                        </form>
                    </div>
                </div>
                {% else %}
                    <div class="row m-5">
                        <div class="h1">No more movies to rate, good job!</div>
                    </div>
                {% endif %}      
            </div>
        <div class="col-sm"></div>
    </div>
{% endblock %}