{% extends 'base.html' %}

{% block title %}
Stats
{% endblock %}

{% block breadcrumbs %}
	<li class="nav-item">
		<a href="{% url 'index' acct %}" class="nav-link active">{{ tg }}</a>
	</li>
	<li class="nav-item">
		<span class="nav-link active">State</span>
	</li>
{% endblock %}

{% block content %}
<h1>Movie Stats</h1>
{% for year, data in years.items %}
<h2>{{ year }}</h2>

<div class="row">
	<!-- card -->
	<div class="col-sm-6 col-md-4">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">List Changes</h3>
				<p class="card-text">
					<div class="row">
						<div class="col-6">
							<div class="fs-1">{{ data.suggestions_count }}</div>
							Added
						</div>
						<div class="col-6">
							<div class="fs-1">{{ data.watched_count }}</div>
							Watched
						</div>
					</div>

<table class="charts-css area multiple hide-data show-labels">
	<caption> Burnup chart </caption>
	<thead>
		<tr>
			<th scope="col"> Month </th>
			<th scope="col"> Watched </th>
			<th scope="col"> Added </th>
		</tr>
	</thead>
	<tbody>
		{% for month, row in data.burnup.items %}
		<tr>
			<th scope="row">{{ month }}</th>
			<td style="--start:{{ row.watched_start_percent }};--end:{{ row.watched_end_percent }};">
				<span class="data"> {{ row.watched }} </span>
			</td>
			<td style="--start:{{ row.added_start_percent }};--end:{{ row.added_end_percent }};">
				<span class="data"> {{ row.added }} </span>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<table class="charts-css bar show-labels show-4-secondary-axes">
	<thead>
		<tr>
			<th scope="col"> Genre </th> <th scope="col"> Count </th></tr>
	</thead>
	<tbody>
		{% for genre in data.genres %}
		<tr>
			<th scope="row"> {{ genre.0 }} </th>
			<td style="--size:{{ genre.1 }};"></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
				</p>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Top Rated Films</h3>
				<p class="card-text">
					<table class="table table-striped">
					{% for s in data.top_rated %}
					<tr>
						<td>
							<a href="{{ s.imdb_link }}">{{ s.title }}</a>
							<div>
							{% for buff in s.buffs.all %}
								{{ buff}}
							{% endfor %}
							</div>
						</td>
						<td>{{ s.get_rating | floatformat:2 }}
							<div class="text-muted">({{ s.get_rating_nonavg | length }} votes)</div>
						</td>
					</tr>

					{% endfor %}
					</table>
				</p>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Biggest Disappointments</h3>
				<p class="card-text">
					<table class="table table-striped">
					{% for s in data.disappointments %}
					<tr>
						<td>
							<a href="{{ s.imdb_link }}">{{ s.title }}</a>
							<div>
							{% for buff in s.buffs.all %}
								{{ buff}}
							{% endfor %}
							</div>
						</td>
						<td>{{ s.get_ourvotes_emoji_s}}</td>
						<td>{{ s.get_rating | floatformat:2 }}
							<div class="text-muted">({{ s.get_rating_nonavg | length }} votes)</div>
						</td>
					</tr>

					{% endfor %}
					</table>
				</p>
			</div>
		</div>
	</div>
</div>


{% endfor %}



{% endblock %}
